.toolbarButton {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 0;
}

.pane {
    -fx-background-color: #FFFFFF;
}

.hbox {
    -fx-background-color: #FFFFFF;
}

.menu-bar {
    -fx-background-color: #eaeaea;
}

.gridPane {
    -fx-background-color: rgb(221, 245, 255);    
}

.toolbarButton:hover {
    -fx-background-color: #e8e8e8;
} 

.toolbarButton:pressed {
    -fx-background-color: #c5c5c5;    
}
 
#newButton {
    -fx-graphic: url('res/icons/file.png');
} 

#openButton {
    -fx-graphic: url('res/icons/folder-open.png');
} 

#saveButton {
    -fx-graphic: url('res/icons/content-save.png');
} 

#undoButton {
    -fx-graphic: url('res/icons/undo.png');
} 

#redoButton {
    -fx-graphic: url('res/icons/redo.png');
} 

#cellButton {
    -fx-graphic: url('res/icons/cell.png');
} 

#resistorButton {
    -fx-graphic: url('res/icons/resistor.png');
} 

#capButton {
    -fx-graphic: url('res/icons/cap.png');
} 

#keyButton {
    -fx-graphic: url('res/icons/key.png');
} 

#voltmeterButton {
    -fx-graphic: url('res/icons/voltmeter.png');
} 

#ammeterButton {
    -fx-graphic: url('res/icons/ammeter.png');
} 

#wireButton {
    -fx-graphic: url('res/icons/wire.png');
}

#eraserButton {
    -fx-graphic: url('res/icons/eraser.png');
}